@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courgette&display=swap');

@keyframes flash {
    from { color: blueviolet;
    }
    to { color:aqua;
    }
}

@keyframes button {
    0% { color: rgb(255, 255, 255);
    }
    50% { color: aqua;
    }
    100% { color:rgb(251, 255, 0);
    }
}

@keyframes fade {
    from {opacity: 0.4;
    }
    to {opacity: 1;
    }
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(0, 0, 0, 0.226);
    display: flex;
    flex-direction: column;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    background: #000000c2;
}

#logo {
    height: 3vw;
    padding: 0rem 19vw 0rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.25vw;
    color: white;
    margin: 0 1.5rem;
}
nav a:hover {
    color: aqua;
}
div a {
    margin: 0.5vw;
}

/* Intro */
#Me img {
    width: 12vw;
    border-radius: 60%;
}
#Me h1 {
    font-family: 'Courgette', cursive;
    color: rgb(0, 0, 0);
    font-size: 3.5rem;
    font-weight: bold;
    margin: 1rem 0;
    background: #807b7b63;
    padding: 0rem 1rem 0rem 1rem;
    
}

#Me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: url('images/background.jpg') #17161b no-repeat center;
    background-size: cover;
}


/* Main */
main {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    justify-content: space-around;
}

main h2 {
    font-family: 'Courgette', cursive;
    font-size: 2.25rem;
    /* font-weight: bolder; */
    text-decoration-line: underline;
    width: 100%;
    text-align: center;
    margin: 0 0 1rem;
}

main p {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.25rem; 
    font-weight: bold;
    padding: 1rem 0rem 1.5rem 0;
}

/* Main img */

.img {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    color: white;
    border-radius: 40%; 
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.877);
    margin-bottom: 5rem;
}

.img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.75rem;
    color: white;
    height: 200px;
    border-radius: 0.5rem 0.5rem 0 0;
    transform: translateY(0%);
    
}

.txt span {
    opacity: 0;
    transition: opacity 0.5s 0.5s;
    background: rgba(0, 0, 0, 0.664);
    padding: 0rem 1rem 0rem 1rem;
}

.img:hover .txt span {
    opacity: 1;
}

/* social link again */
.button2  {
    font-family: 'Architects Daughter', cursive;
    animation: button 2s infinite alternate;
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
}
#social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000c2;
    padding: 1rem 0;
}

#social-links p {
    font-family: 'Architects Daughter', cursive;
    margin: 0 0 1rem;
    color: white;
}

#social-links div div {
    display: flex;
    justify-content: space-between;
}
/* footer */
footer {
    text-align: center;
    padding: 1rem;   
}






/* Media */
@media screen and (min-width: 300px) and (max-width: 480px) {
    /* header */
    header {
        height: 25vw;
    }
    
    header nav {
        width: 110vw;
        height: 20vw;
        display: flex;
        flex-direction: column;
    }

    #logo {
        width: 50vw;
        height: 10vw;
    }

    header img {
        width: 20px;
        height: 20px;
    }

    /* Intro */
    #Me h1 {
        font-size: 1.25rem;
    }

    #Me a {
        font-size: 1rem;
    }

     /* Main */
     main h2 {
        font-size: 1rem;
    }

    main p {
        font-size: 0.1px;
    }

    .img {
        width: 300px;
        height: 300px;
    }

    .txt {
        font-size: 0.1px;
        transform: translateY(0%);
    }
    
    /* social */

    #social-links div {
        font-size: 0.1px;
    }

    .button2{
        font-size: 0.1px;
    }

    #social-links img {
        width: 20px;
        height: 20px;
    }

    /* footer */
    footer {
        font-size: 0.1px;
    }
}