@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courgette&display=swap');

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes button {
    0% { color: rgb(255, 255, 255);
    }
    50% { color: aqua;
    }
    100% { color:rgb(251, 255, 0);
    }
}

@keyframes flashing{
    0%{     color: rgb(219, 35, 35);    }
    49%{    color: rgb(15, 184, 57); }
    60%{    color: transparent; }
    80%{    color:transparent;  }
    100%{   color: #000;    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(0, 0, 0, 0.226);
    display: flex;
    flex-direction: column;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    background: #000000c2;
}

#logo {
    height: 3vw;
    padding: 0rem 14vw 0rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.25vw;
    color: white;
    margin: 0 1.5rem;
}
nav a:hover {
    color: aqua;
}

div a {
    margin: 0.5vw;
}

/* Intro */
#Me img {
    width: 12vw;
    border-radius: 60%;
}
#Me h1 {
    font-family: 'Courgette', cursive;
    color: rgb(0, 0, 0);
    font-size: 3.5rem;
    font-weight: bold;
    margin: 1rem 0;
    background: #807b7b63;
    padding: 0rem 1rem 0rem 1rem;
    
}

#Me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: url('images/background.jpg') #8980c2 no-repeat center;
    background-size: cover;
}

/* know more about me */
.button1 {
    font-family: 'Architects Daughter', cursive;
    animation: button 2s infinite alternate;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    background: rgba(17, 17, 17, 0.432);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.button1:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button1:active {
    color: #000
}

.button1:active:after {
    background: transparent;
}

.button1:hover:before {
    opacity: 1;
}

.button1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* Main */
main {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    justify-content: space-around;
}

main h2 {
    font-family: 'Courgette', cursive;
    font-size: 3.5rem;
    text-decoration-line: underline;
    width: 100%;
    text-align: center;
    margin: 0 0 1rem;
}
main div {
    display: flex;
    flex-direction: row;
    flex: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.25rem;
    font-weight: bold;
    /* background: #000000c2; */
    padding: 1rem 0;
}
main p {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.25rem; 
    font-weight: bold;
    color: #ff0000;
    padding: 0rem 0rem 2rem 0;
    text-align: center;
    /* flex: 100%; */
}

/* flash word MAIN */
.flashing{
    animation:flashing 1.2s infinite;
}


/* CV  */
main h3 {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    font-weight: bold;
    flex: 100%;
    text-decoration-line: underline;
    text-align: center;
    color: #000000;
    /* border: 1px dotted; */
    padding: 3rem 1rem 3rem 1rem;
}

/* CV button */
.button a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: 'Architects Daughter' , cursive;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
.button a span{
    position: relative;
    z-index: 2;
  }
  
.button a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
  }
  
.button a:hover{
    color: #fff;
  }
  
 .button a:hover:after{
    width: 100%;
  }

  /* Social link */
.button2  {
    font-family: 'Architects Daughter', cursive;
    animation: button 2s infinite alternate;
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
}
#social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000c2;
    padding: 1rem 0;
}

#social-links p {
    font-family: 'Architects Daughter', cursive;
    margin: 0 0 1rem;
    color: white;
}

  /* footer */
footer {
    text-align: center;
    padding: 1rem;   
}




/* Media */
@media screen and (min-width: 300px) and (max-width: 480px) {
    /* header */
    header {
        height: 25vw;
    }
    
    header nav {
        width: 110vw;
        height: 20vw;
        display: flex;
        flex-direction: column;
    }

    #logo {
        width: 50vw;
        height: 10vw;
    }

    header img {
        width: 20px;
        height: 20px;
    }

    /* Intro */
    #Me h1 {
        font-size: 1.5rem;
    }

    #Me a {
        font-size: 0.5rem;
    }

     /* Main */
    main h2 {
        font-size: 1.25rem;
    }
    .flashing {
        font-size: 0.5rem;
    }
    main img {
        width: 20px;
        height: 20px;
    }
    .button span {
        font-size: 0.5rem;
        width: 20px;
        height: 20px;
        /* flex: 100%; */
    }
    .button a {
        width: 100px;
    }
    main h3{
        font-size: 1rem;
    }

    main p {
        font-size: 0.5rem;
    }

    
    /* social */

    #social-links div {
        font-size: 0.5rem;
    }

    .button2{
        font-size: 0.5rem;
    }

    /* footer */
    footer {
        font-size: 0.5rem;
    }
}
